################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/homework.28.02.2021/v16/Browse.VC.opendb
